body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
}
header h1 {
    margin: 0;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #666;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
